@font-face {
  font-family: 'Nunito Sans', sans-serif;
  src: url("./fonts/nunito/NunitoSans-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

hgroup {
  justify-content: space-between;
  align-items: baseline;
}

hgroup button {
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50vh;
  overflow-y: scroll;
}

label,
input {
  width: 100%;
}

@import url('./utility.css');
