.d-flex {
  display: flex;
}

.main-content {
  justify-content: space-between;
  width: 100%;
}

.content {
  width: 45%;
}

.input-form {
  height: 20vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.item {
  padding: 0.5rem 2rem;
}

.item:nth-child(odd) {
  background-color: #aaa;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
}

.btn:hover {
  color: aqua;
  cursor: pointer;
}

.btn:active {
  background-color: lightgoldenrodyellow;
  color: black;
}

.btn-submit {
  background-color: white;
  color: black;
}

.btn-submit:hover {
  color: orange;
}

.btn-refresh {
  border: none;
}
